{# Field Guide head: fonts, tokens, components. Include in every page's <head>. #}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1&family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/field-guide/dist/tokens.css">
<link rel="stylesheet" href="/field-guide/css/components.css">
